main{
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
        background-color: #FFFFFF;
    }
    #imgContainer{
        display: flex;
        height: 200px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        img{
            width: 327px;
            height: 200px;
        }
    }
    #txtContainer{
        display: flex;
        flex-direction: column;
        font-family: "Manrope", sans-serif;
        padding: 32px 30px;
        width: 267px;
        gap: 24px;
        h1{
            
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.25px;
            color: #48556A;
        }
        p{
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.12%;
            color: #6E8098;
            padding-right: 5px;
        }
    }
    #userContainer{
        display: flex;
        font-family: "Manrope", sans-serif;
        width: 327px;
        height: 76px;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 10px 10px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 25px;
            margin-right: 16px;
        }
        #userData{
            margin-right: 64px;
            padding: 16px 0 20.78px 0;
            align-items: center;
            h2{
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.12%;
                color:#48556A;
            }
            p{
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.12%;
                color: #9DAEC2;
            }
        }
        #shareBtn{
            display: flex;
            background-color: #ECF2F8;
            width: 32px;
            height: 32px;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            overflow: visible;
            img{
                width: 15px;
                height: 12.97px;
                margin: 0;
            }
        }
        #shareBtn:hover{
            cursor: pointer;
        }
    }
    #socialMediaContainer{
        display: none;
        font-family: "Manrope", sans-serif;
        padding: 16px 32px;
        width: 263px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 10px 10px;
        background-color: #48556A;
        h4{
            text-transform: uppercase;
            width: 55px;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 4px;
            color: #9DAEC2;
            font-weight: 400;
        }
        #socialMediaIcons{
            margin-left: 24px;
            display: flex;
            gap: 16px;
        }
        #shareBtnActive{
            display: flex;
            background-color: #6E8098;
            width: 32px;
            height: 32px;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            overflow: visible;
            margin-left: 60px;
            
            #arrow{
                width: 15px;
                height: 12.97px;
                margin: 0;
                fill: #FFFFFF;
            }
        }
        #shareBtnActive:hover{
            cursor: pointer;
        }
    }
}